@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <a type="button" class="btn btn-secondary" asp-area="Admin" asp-controller="Menus" asp-action="Index">Menus</a>
    <a type="button" class="btn btn-secondary" asp-area="Admin" asp-controller="Categories" asp-action="Index">Categories</a>
    <a type="button" class="btn btn-secondary" asp-area="Admin" asp-controller="Items" asp-action="Index">Items</a></p>
</div>
<br>
