@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <br>
    <p><a type="button" class="btn btn-secondary" asp-area="Admin" asp-controller="Menus" asp-action="Index">Menus</a></p>
</div>
<br>
