@model IEnumerable<Domain.ViewModels.ShowMenuViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<body>
    <!-- ======= Hero Section ======= -->
    <section id="hero" class="d-flex align-items-center">
        <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
            <div class="row">
                <div class="col-lg-8">
                    <h1>Welcome to <span>Marna</span></h1>
                    <h2>Delivering great food for more than 18 years!</h2>
                </div>
            </div>
        </div>
    </section><!-- End Hero -->

    <main id="main">

        <!-- ======= About Section ======= -->
        <section id="about" class="about">
            <div class="container" data-aos="fade-up">

                <div class="row">
                    <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
                        <div class="about-img">
                            <img src="~/assets/img/about.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                        <h3>Welcome to Marna Restaurant !</h3>
                        <p class="fst-italic">
                            In Marna, every dish tells a story. From the moment of ingredient selection to the time of
                            serving, every detail is crafted with meticulous care to bring freshness and culinary
                            delight to your table. As a team, we believe that with respect for raw materials and the art
                            of cooking, each dish can provide an enjoyable experience.
                        </p>
                        <ul>
                            <li>
                                <i class="bi bi-check-circle"></i> UPleasant Ambiance, Eliciting Emotions
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Expert Team, Quality Service
                            </li>
                            <li>
                                <i class="bi bi-check-circle"></i> Your Special Occasions, Our Priority
                            </li>
                        </ul>
                        <p>
                            We look forward to welcoming you to Marna Restaurant. For reservations or inquiries, feel
                            free to contact us. Your satisfaction is our priority, and we are here to ensure your dining
                            experience exceeds expectations.

                            Thank you for choosing Marna — where culinary artistry meets warm hospitality.
                        </p>
                    </div>
                </div>

            </div>
        </section><!-- End About Section -->
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Why Us</h2>
                    <p>Why Choose Our Restaurant</p>
                </div>

                <div class="row">

                    <div class="col-lg-4">
                        <div class="box" data-aos="zoom-in" data-aos-delay="50">
                            <span>01</span>
                            <h4>Culinary Delights</h4>
                            <p>
                                At Marna, we take pride in crafting culinary experiences that go beyond the
                                ordinary. Our chefs are passionate about creating dishes that not only satisfy the
                                appetite but also leave a lasting impression on your taste buds. From the freshest
                                ingredients to innovative recipes, every bite tells a story of flavor and quality.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="100">
                            <span>02</span>
                            <h4>Ambiance & Hospitality</h4>
                            <p>
                                Step into a world of warmth and hospitality at our restaurant. Our inviting ambiance,
                                coupled with attentive service, creates the perfect setting for any occasion. Whether
                                it's a cozy dinner for two or a celebration with friends and family, we ensure a
                                memorable and delightful experience.
                            </p>
                        </div>
                    </div>

                    <div class="col-lg-4 mt-4 mt-lg-0">
                        <div class="box" data-aos="zoom-in" data-aos-delay="150">
                            <span>03</span>
                            <h4>Unique Flavors, Diverse Menu</h4>
                            <p>
                                Explore a diverse menu that showcases a fusion of flavors and culinary traditions. From
                                classic favorites to unique signature dishes, our menu is designed to cater to various
                                tastes. We are committed to providing a gastronomic journey that delights and surprises.
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </section><!-- End Why Us Section -->
        <!-- ======= Menu Section ====================================================================================================================== -->
        <section id="menu" class="menu section-bg">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Menu</h2>
                    <p>Check Our Tasty Menu</p>
                </div>

                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-12 d-flex justify-content-center">
                        <ul id="menu-flters">
                            <li data-filter="*" class="filter-active">All</li>
                            @foreach (var item in Model)
                            {
                                <li data-filter=".filter-@item.CategoryTitle">@item.CategoryTitle</li>
                            }
                        </ul>
                    </div>
                </div>

                <div class="row menu-container" data-aos="fade-up" data-aos-delay="200">

                    @foreach (var item in Model)
                    {
                        foreach (var itemm in item.Items)
                        {
                            <div class="col-lg-6 menu-item filter-@item.CategoryTitle">
                                <img src="~/assets/img/menu/lobster-bisque.jpg" class="menu-img" alt="">
                                <div class="menu-content">
                                    <a href="#">@itemm.Title </a><span>@itemm.Price $</span>
                                </div>
                                <div class="menu-ingredients">
                                    @itemm.Description
                                </div>
                            </div>
                        }
                    }
                </div>

            </div>
        </section>
        <!-- End Menu Section ===================================================================================================================-->
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
            <div class="container" data-aos="fade-up">

                <div class="section-title">
                    <h2>Contact</h2>
                    <p>Contact Us</p>
                </div>
            </div>
            <div class="container" data-aos="fade-up">

                <div class="row mt-5">

                    <div class="col-lg-4">
                        <div class="info">
                            <div class="address">
                                <i class="bi bi-geo-alt"></i>
                                <h4>Location:</h4>
                                <p>Tehran, Valiasr, MarnaCafe</p>
                            </div>

                            <div class="open-hours">
                                <i class="bi bi-clock"></i>
                                <h4>Open Hours:</h4>
                                <p>
                                    Sunday-Wensday:<br>
                                    9:00 AM - 23:00 PM
                                </p>
                            </div>

                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <h4>Email:</h4>
                                <p>Marna@gmail.com</p>
                            </div>

                            <div class="phone">
                                <i class="bi bi-phone"></i>
                                <h4>Call:</h4>
                                <p>+98 9383 4306 38</p>
                            </div>

                        </div>

                    </div>


                </div>

            </div>
        </section><!-- End Contact Section -->

    </main><!-- End #main -->
</body>